{% extends 'nav.html' %}
{% block title %} Create Note {% endblock%}
{% block content %}
<main class="container border rounded p-5 mt-5">
    <h1 class="mb-3">Change Password</h1>
    <form method='GET'>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password_new" required="">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Create</button>
    </form>
</main>
{% endblock %}

