{% extends 'nav.html' %}
{% block title %} Create Note {% endblock%}
{% block content %}
<main class="container border rounded p-5 mt-5">
    <h1 class="mb-3">Create Note</h1>
    <form method='POST' type='application/json'>
        <div class="mb-3 form-floating">
            <input type="text" id="name" class="form-control" placeholder="Name" name="name" required="" autofocus="">
            <label for="name">Name</label>
        </div>
        <div class="mb-3 form-floating">
            <textarea type="text" id="content" class="form-control" placeholder="Content" name="content" required="" autofocus="" style="height: 15rem"></textarea>
            <label for="content">Content</label>
        </div>
        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" name="private" value="" id="private">
            <label class="form-check-label" for="private">
                Private
            </label>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Create</button>
    </form>
</main>
{% endblock %}
