certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Cython==0.29.22
dominate==2.6.0
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4.dev0
Markdown @ file:///buildstream/freedesktop-sdk/components/python3-markdown.bst
MarkupSafe==1.1.1
meson @ file:///buildstream/freedesktop-sdk/components/meson.bst
Pygments==2.8.0.dev20210403
requests==2.25.1
six==1.15.0
urllib3==1.26.4
visitor==0.1.3
Werkzeug==1.0.1
